body {
  margin: 0;
  background-color: #999999;
}


*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 10px;
}